#standardSQL
WITH
  ########################################################
  # Extract the messages we are going to process
  ########################################################
  messages AS (
  SELECT
    sv.seg_id,
    sv.vessel_id,
    m.timestamp,
    ST_GEOGPOINT(m.lon, m.lat) AS position,
    IFNULL(m.nnet_score, m.logistic_score) AS score,
    m.speed,
    m.course
  FROM
    `{{ source }}*` AS m
  INNER JOIN
    `{{ segment_info }}` AS si
  USING
    (seg_id)
  INNER JOIN
    `{{ segment_vessel }}` AS sv
  USING
    (seg_id)
  WHERE
    _TABLE_SUFFIX BETWEEN '{{ start_yyyymmdd }}'
    AND '{{ end_yyyymmdd }}'
    AND si.noise = false
    AND si.pos_count > 5
    AND m.lat IS NOT NULL
    AND m.lon IS NOT NULL
    AND sv.vessel_id_rank = 1)
SELECT
  seg_id,
  vessel_id,
  timestamp,
  position,
  score,
  speed,
  course
FROM
  messages
