-- Create base tracks table
CREATE TABLE IF NOT EXISTS public.{{ table_name }} (
    id bigserial PRIMARY KEY NOT NULL,
    seg_id character varying NOT NULL,
    vessel_id character varying NOT NULL,
    timestamp timestamp NOT NULL,
    position public.geography(Point,4326) NOT NULL,
    score real,
    speed real,
    course real
);

-- Ensure the table is empty
DELETE FROM public.{{ table_name }} WHERE timestamp BETWEEN '{{start}}' AND '{{end}}';

-- Drop all constraints and indices if they exist
DROP INDEX IF EXISTS {{ table_name }}_seg_id;
DROP INDEX IF EXISTS {{ table_name }}_vessel_id;
DROP INDEX IF EXISTS {{ table_name }}_timestamp;
DROP INDEX IF EXISTS {{ table_name }}_position_gis;
