-- Ensure POSTGIS extensions are enabled in this db
CREATE EXTENSION IF NOT EXISTS postgis;
CREATE EXTENSION IF NOT EXISTS postgis_topology;
CREATE EXTENSION IF NOT EXISTS postgis_tiger_geocoder CASCADE;

-- Create base tracks table
CREATE TABLE IF NOT EXISTS public.{{ table_name }} (
    id bigserial PRIMARY KEY NOT NULL,
    seg_id character varying NOT NULL,
    seg_geography public.geography(MultiPoint,4326) NOT NULL,
    times timestamp[] NOT NULL,
    scores real[] NOT NULL,
    speeds real[] NOT NULL,
    courses real[] NOT NULL
);

-- Ensure the table is empty
TRUNCATE public.{{ table_name }};

-- Drop all constraints and indices if they exist
DROP INDEX IF EXISTS {{ table_name }}_seg_id;
DROP INDEX IF EXISTS {{ table_name }}_seg_geography_gis;
