-- Setup constraints and indices
CREATE INDEX {{ table_name }}_seg_id ON public.{{ table_name }} (seg_id);
CREATE INDEX {{ table_name }}_vessel_id ON public.{{ table_name }} (vessel_id);

-- Ensure we run vacuumming after deleting most of the rows in the table
VACUUM ANALYZE public.{{ table_name }};
